<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Proyecto Atmósfera</title>
    <style>
        body{background:#ffce99;
            font-size:20px;
            color:black;
            padding:40px;
            border:6px solid white;}
        h1{color:brown;}
    </style>
</head>

<body>
<div style="text-align: center;"><h1>BIENVENIDOS!</h1></div>
<h2>Temática</h2>
<style>
    h2 {color:gray;}
</style>
<div style="text-align: justify-all;"><p>Contaminación del aire en Temuco, mediante la utilización de datos provistos por el proyecto Smart City in a box, CEIS UFRO.</p></div>
<img src="ContaminaciónTemuco.jpg">
<br>


<p>Esta es una página web sencilla, pequeña, casi está vacia,
    pero bonita porque es mi primera página web.</p>

<ul>
    <li><a href="página1.html">Otra pagina</a></li>
<li><a href="página2.html">Otra mas</a></li>
    <input type="button" onclick="location.href='/';" value="Siguiente" />
</ul>

</body>
</html>